<!DOCTYPE html>
<html>
    <head>
        <title> Universitat API </title>
        <script src=".{{Configs['JS_STATIC_PATH']}}/{{Configs['PROJECTNAME']}}GeneralScripts.js"></script>
		<link rel="stylesheet" type="text/css" 
        href="{{Configs['CSS_STATIC_PATH']}}/{{Configs['PROJECTNAME']}}GeneralStylesheet.css">
        <style>
            main {
                align-items: center;
            }
        </style>
    </head>
    
    <body>
        <header>
            <h1>{{Configs['PROJECTNAME']|title}} API Documentation Page</h1>
        </header>
        
        <main>
            <h2></h2>
        </main>
        
        <footer>
            <p>Professor: Leonardo Azevedo</p>
			<p>Aluno: Leonardo Ferraz</p>
            <p>Trabalho 05 de REST em TABD2/TESD1</p>
        </footer>
    </body>
</html>