<!DOCTYPE html>
<html>
    <head>
        <title> Universitat API </title>
        <script src=".{{Configs['JS_STATIC_PATH']}}/{{Configs['PROJECTNAME']}}GeneralScripts.js"></script>
		<link rel="stylesheet" type="text/css" 
        href="{{url_for('static', filename='')}}{{Configs['CSS_STATIC_PATH']}}/{{Configs['PROJECTNAME']}}GeneralStylesheet.css">
    </head>
    
    <body>
        <header>
            <h1>Universitat API Documentation Page</h1>
        </header>
        
        <main>
            <section> <!-- Researchers Resource -->
                <h2>Researchers Resource</h2>
            </section>
            
            <section> <!-- Researcher Resource -->
                <h2>Researcher Resource</h2>
            </section>
            
            <section> <!-- ResearcherAssociatedProjects Resource -->
                <h2>ResearcherAssociatedProjects Resource</h2>
            </section>
            
            <section> <!-- ResearcherAssociatedProject Resource -->
                <h2>ResearcherAssociatedProject Resource</h2>
            </section>

            <section> <!-- ResearcherLeadProjects Resource -->
                <h2>ResearcherLeadProjects Resource</h2>
            </section>
            
            <section> <!-- ResearchProjects Resource -->
                <h2>ResearchProjects Resource</h2>
            </section>
            
            <section> <!-- ResearchProject Resource -->
                <h2>ResearchProject Resource</h2>
            </section>
            
            <section> <!-- ExecutiveSummaryProject Resource -->
                <h2>ExecutiveSummaryProject Resource</h2>
            </section>
            
            <section> <!-- ProjectAssociatedResearchers Resource -->
                <h2>ProjectAssociatedResearchers Resource</h2>
            </section>
            
            <section> <!-- ProjectAssociatedResearcher Resource -->
                <h2>ProjectAssociatedResearcher Resource</h2>
            </section>
        </main>
        
        <footer>
            <p>Professor: Leonardo Azevedo</p>
			<p>Aluno: Leonardo Ferraz</p>
            <p>Trabalho 06 de REST em TABD2/TESD1</p>
        </footer>
    </body>
</html>